body {
    background-color: rgb(90, 235, 6);
}
/* id */ 
#box-01{
    color: #c6d30e;
}
#box-01 {
    background-color: rgb(17, 120, 255);
    text-align: center;
    text-decoration: underline;
    font-size: 10px;
    font-weight: bolder;
    border: #000000;
}
#box-01 h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px
}
#box-01 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* class */
.box-02 {
    background-color: rgb(173, 201, 15);
    text-align: center;
    border: #000000;
}